@{
    ViewData["Title"] = "Francisco Navarro";
}
<div class="text-center">
    <h1 class="display-4">Ejercicio 1</h1>
</div>
<br>
<br>
<p>
A partir de una cadena ya dada en el código, contar cuántas vocales contiene. Intenta resolver el ejercicio de 3 formas: <br><br>
(1) Mediante for's recorriendo como un array $cadena (cadena analizada) y $vocals (cadena con todas las vocales, incluyendo diéresis y acentos abiertos y cerrados).
Podemos tratar como un array las 2 cadenas.
Por ejemplo si $cadena = 'hola' → $cadena[0] es el carácter 'h'. <br>

<form action="/Ejercicio1/Solucion1" method="get">
    <input type="submit" value="Ir a la solución 1">
</form><br><br>

(2) Mediante la función de PHP preg_match() y expresiones regulares (regex). <br><br>

<form action="/Ejercicio1/Solucion2" method="get">
<input type="submit" value="Ir a la solución 2">
</form><br><br>

(3) Mediante la función de PHP preg_match_all(). <br><br>

<form action="/Ejercicio1/Solucion2" method="get">
<input type="submit" value="Ir a la solución 3">
</form><br><br>

</p>