@{
    ViewData["Title"] = "Francisco Navarro";
}
<div class="text-center">
    <h1 class="display-4">Ejercicio 1</h1>
</div>
<br>
<br>
<p>
<p>La frase "@ViewBag.Frase" contiene @ViewBag.Vocales vocales.</p><br>
<p>Demasiado complicado con la version del preg_match de PHP (en C# Regex.Match)</p><br>
<p>He usado Regex.Matches, más parecida a preg_match_all... Así que básicamente, lo mismo que en el apartado 3</p><br>
<p>Conecto el apartado 3 con esta vista porque es básicamente lo mismo.</p>
<br><br>
<form action="/Ejercicio1">
    <input type="submit" value="Volver">
</form>