@{
    ViewData["Title"] = "Francisco Navarro";
}
<div class="text-center">
    <h1 class="display-4">Ejercicio 1</h1>
</div>
<br>
<br>
<p>
<p>La frase "@ViewBag.Cadena" contiene @ViewBag.Vocales vocales.</p><br>
<p>Utilizo un HashMap&lt;char&gt; para las vocales y el método .Contains para ver si, letra a letra, están en el HashMap.</p>
<br><br>
<form action="/Ejercicio1">
    <input type="submit" value="Volver">
</form>