@{
    ViewData["Title"] = "Francisco Navarro";
}
<div class="text-center">
    <h1 class="display-4">Ejercicio 3</h1>
</div>
<br>
<br>
<p>
    A partir de una cadena de texto que nos llega desde un formulario Html, mostrar la palabra que contiene más vocales y la que contiene menos.
</p>
<form action="/Ejercicio3/Solucion" method="post">
    <label>Introduce una frase</label><br><br>
    <input type="text" name="cadena"><br><br>
    <input type="submit" value="Enviar mediante POST">
</form>