@{
    ViewData["Title"] = "Francisco Navarro";
}

<div class="text-center">
    <h1 class="display-4">Prueba de .NET</h1>
</div>
<br>
<br>
<p>Prueba de resolución de ejercicios de PHP utilizando .NET Core MVC con Razor Views. <br>
Para acceder a cada apartado, usa el menú de navegación y haz "click" en el que quieras ver. <br>
Las rutas se resuelven de manera "automática" en .NET Core MVC.<br><b>¡Magia!</b></p>