@{
    ViewData["Title"] = "Francisco Navarro";
}
<div class="text-center">
    <h1 class="display-4">Ejercicio 2</h1>
</div>
<br>
<br>
<p>La frase "@ViewBag.Cadena" contiene @ViewBag.Vocales vocales.</p><br>
<p>Para que el método reciba la petición post, se utiliza [HttpPost] justo encima</p>
<br><br>
<form action="/Ejercicio2">
    <input type="submit" value="Volver">
</form>