@{
    ViewData["Title"] = "Francisco Navarro";
}
<div class="text-center">
    <h1 class="display-4">Ejercicio 4</h1>
</div>
<br>
<br>
<p>
    Resultado de búsqueda de "@ViewBag.Busqueda" en la cadena "@ViewBag.Cadena" es :
</p>
<br>
@if (ViewBag.Coincidencias != null && ViewBag.Coincidencias.Count > 0)
{
    <ul>
        @foreach (string palabra in ViewBag.Coincidencias)
        {
            <li>
                @palabra
            </li>
        }
    </ul>
}
else
{
    <p>No se ha encontrado.</p>
}
<br>
<form action="/Ejercicio4">
    <input type="submit" value="Volver">
</form>